<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <link rel="stylesheet" href="main.css">

    </title>
  </head>
  <nav>
    <a href="/">LOGOUT</a>
  <body>

    {{{yield}}}
  </body>
</html>
