<form action="/home" method="post">
  <input type="text" name="username" value="" placeholder="username"><br>
  <input type="password" name="password" value="" placeholder="password"><br>
  <button type="submit" name="button">Login</button>
</form>
